{% extends 'template.html' %}
{% block body %}
<h1 class="mt-4">List Parameter</h1>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table text-center">
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">Default</th>
        <th scope="col">Action</th>
      </thead>
      <tbody class="table-group-devider">
        <tr>
          <th scope="row" >1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-active"> </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}